body {
    background: #fff;
    margin: 0;
    font-family: helvetica;
}
#topBar {
    background: #F7F7F7;
    text-align: center;
    border-bottom: 1px solid #DBD9D9;
    height: 60px;
    position: fixed;
    width: 100%;
    top: 0px;
    z-index: 99999;
}
#menuLeft {
    float: left;
}
#menuLeft img {
    height: 30px;
    width: auto;
    margin-top: 15px;
    margin-left: 10px;
    margin-right: -10px;
}
#menuLeft a {
    display: block;
}
#logo {} #logo img {
    height: 35px;
    width: auto;
    margin-top: 15px;
    margin-left: -45px;
}
#menuRight {
    position: absolute;
    top: 0;
    right: 0px;
}
#menuRight img {
    height: 30px;
    width: auto;
    margin-top: 15px;
    margin-left: -10px;
    margin-right: 10px;
}
#menuRight a {
    display: block;
}
#musicList {
    margin-top: 60px;
    margin-bottom: 50px;
}
.songMain, button {
    width: 100%;
    border-radius: none;
    border: none;
    padding: 10px 0;
    color: #666666;
    border-bottom: 1px solid #ddd;
    text-align: left;
    letter-spacing: 0.8px;
    display: block;
    height: 42px;
}
.songMain:hover #songSec {} .songSec {
    display: none;
    height: 43px;
}
.songSec button {
    width: 100%;
    background: none;
    color: #fff;
    text-align: center;
    border-bottom: none;
}
.play {
    width: 49.8%;
    float: left;
    background: #96C38B;
    color: #fff;
    text-align: center;
}
.add {
    width: 49.8%;
    float: right;
    background: #76CAD1;
    color: #fff;
    text-align: center;
}
button:active {} .stop {} .playlist {}
.song {
    font-weight: bold;
    font-size: 17px;
    margin-left: 10px;
}
.artist {
    font-size: 15px;
    color: #6FC7CF;
    margin-left: 10px;
}
img.aRight {
    position: absolute;
    right: 15px;
    height: 10px;
    width: auto;
    margin-top: -6px;
    z-index: 9;
}
#sidr-left button {
    background: #74C9D1;
    color: #fff;
    text-align: center;
    font-size: 18px;
    letter-spacing: 1px;
    border: none;
    margin-bottom: 1px;
    height: auto;
    padding: 15px;
}
.sidr .sidr-inner h2 {
    background: none;
    font-size: 20px;
    box-shadow: none;
    text-transform: uppercase;
    text-align: center;
    line-height: 21px;
    padding: 10px;
    letter-spacing: 1px;
    color: #74C9D1;
}
.sidr .sidr-inner form {
    margin: 0;
}
.sidr ul li {
    padding: 15px 35px 15px 10px;
    line-height: 14px;
    position: relative;
}
.sidr ul li:hover {
    padding: 15px 35px 15px 10px;
    line-height: 14px;
}
.sidr-class-remove {
    background: none;
    border: none;
    position: absolute;
    top: 4px;
    right: 2px;
}

#bottomBar {
    background: #F7F7F7;
    text-align: center;
    border-top: 1px solid #DBD9D9;
    height: 50px;
    position: fixed;
    width: 100%;
    bottom: 0px;
    opacity: 0.97;
    z-index: 99999;
}
.but {
    float: left;
    width: 24.5%;
    border-right: 1px solid #EFEFEF;
    padding-top: 6px;
    height: 100%;
    display: block;
}
.but button {
    background: none;
    padding: 0px;
    border: none;
    text-align: center;
    text-transform: uppercase;
    line-height: 12px;
    padding-top: 5px;
    height: 100%;
    display: block;
}
.but img {
    height: 20px;
}
#but1 button {} #but4 {} .sidr-class-startPlay {
    background: #74C9D1;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    border: none;
}
